.date{
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: 2;
    flex: 1;
    color: white;
}
.datecar{
    position: absolute;
    bottom: 80px;
    right: 150px;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 10px 0px;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.arrow{
    margin: 20px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}